<div class="multi-select" (click)="showPop = true">
    <div class="selected-list ">
        <ul role="listbox">
            <li *ngFor="let selected of selectedList">{{getText(selected)}} <span class="fa fa-times-circle" (click)="remove(selected)" ></span></li>
        </ul>
    </div>
    
    <div class="search">
        <input type="text" [(ngModel)]="searchText" #searchBox (keyup)="search(searchBox.value)" />
    </div>
</div>
<div class="multi-pop" *ngIf="showPop" >
    <ul>
        <li *ngFor="let option of filteredList$ | async" (click)="select(option)" 
            [class.active]="option.selected" >{{getText(option)}}</li>
    </ul>
</div>